html{
    background-color: #8A0303;
    opacity: 0.8;
}

.stark_info{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: absolute;
    top : 64%;
    left : 8%;
  }
  .corbeau_info{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: absolute;
    left: 8%;
    top : 6%;

  }
  .cerf_info{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: absolute;
    left: 81%;
    top : 6%;
  }
  .lion_info{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: absolute;
    left: 45%;
    top : 37%;
  }
  .drag_info{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: absolute;
    left: 81%;
    top : 65%;
  }

  