body{
  margin:0;
  padding:0;

  font-size: 14px;
  color:#444;
  background-image: url("../images/background.png"); 
  background-color: #444;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

h1{
  position: absolute;
  font-size: 25px;
  font-family: 'Game of Thrones';
  left: 35vw;
}

.season{
  position: absolute;
  right: 0;
}

.canvas{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display:block;
  border: 5px solid black;
}

.filtre{
  position: absolute;
  text-decoration: none;
  font-size: 22px;
  color: white;
  top: 35%;
  vertical-align: middle;
 z-index: 20;
}


li > img{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: 40px;

}

select{
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-family: 'Game of Thrones';
  font-size: 20px;
  padding: 10px;
  width: 200px;
  right: 10%;
  top: 1%;
  appearance: none;
}