body{

  margin-top: 200px;
  padding:0;
  font-family:"Roboto","Arial",sans-serif;
  font-size: 14px;
  color:#444;
  background-color: #3A3A3A;
  background-image: url("../images/rond.png");
  background-repeat: no-repeat;
  background-position: 50% -30%;
}

.center{
  margin-left: 30%;
}
.circle{
  width: 40vw;
  height: 87vh;
  background-color: antiquewhite;
  opacity: 0.5;
  border-radius: 50%;

}


/* .circle>img{

  margin-left: 28%;
  margin-top: 35%;

} */
